/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2015, 6:01:22 PM
    Author     : dany
*/

.sigla-overlay{
    position:fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 100;
    display:none;
}

.main-container{
    position:fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url("../img/back.jpg");
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

.recap-panel{
    position:fixed;
    top:0%;
    right: 0%;
    width: 20%;
    height: 100%;
    background-color: blue;
    z-index:10;
    
    display:none;
}

.questions-overlay{
    position:fixed;
    bottom:0%;
    left: 0%;
    width: 100%;
    height: 40%;
    z-index:10;
}

video.camera{
    position:absolute;
    top:0%;
    left: 0%;
    width: 100%;
    
}

.question-container{
    
    font-family: Arial, Helvetica, sans-serif;
    
    position: absolute;
    background-color: black;
    top:1%;
    width:90%;
    height: 15%;
    left:5%;
    border: 4px solid blue;
    /*border-radius: 70%;*/
    
    color: white;
    font-weight: bold;
    
    font-size: 30px;
    padding :10px;
    text-align: center;
}

.answer-label{
    color: #bbbb00;
}

.answer-container.highlighted {
    background-color: #bbbb00;
}
.answer-container.correct {
    background-color: #00bb00;
}
.answer-container.wrong {
    background-color: #bb0000;
}

.answer-container{
    
    font-family: Arial, Helvetica, sans-serif;
    
    position: absolute;
    background-color: black;
    border: 4px solid blue;
    /*border-radius: 70%;*/
    
    width:30%;
    height: 15%;
    
    color: white;
    font-weight: bold;
    
    font-size: 30px;
    padding :10px;
    padding-left: 90px;
    text-align: left;
}

.answer-container-0{
    top:37%;
    left:10%;    
}
.answer-container-1{
    top:37%;
    right:10%;    
}
.answer-container-2{
    bottom:5%;
    left:10%;    
}
.answer-container-3{
    bottom:5%;
    right:10%;    
}